language: generic
matrix:
  include:
    - os: linux
      sudo: required
    - os: osx
      osx_image: xcode7.3
      sudo: required

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then SWIFT_DIR=tests ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install clang libicu-dev libstdc++6 ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then mkdir $SWIFT_DIR ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then curl https://swift.org/builds/swift-2.2-branch/ubuntu1404/$SWIFT_VERSION/$SWIFT_VERSION-ubuntu14.04.tar.gz -s | tar xz -C $SWIFT_DIR &> /dev/null ; fi
env:
  - SWIFT_VERSION=swift-2.2-SNAPSHOT-2016-01-11-a
script:
  - uname
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then xcodebuild test -project Xcode/Underscore.xcodeproj -scheme "Underscore OSX" ONLY_ACTIVE_ARCH=NO ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then xcodebuild test -project Xcode/Underscore.xcodeproj -scheme "Underscore iOS" -destination "platform=iOS Simulator,name=iPhone 6" ONLY_ACTIVE_ARCH=NO ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then xcodebuild test -project Xcode/Underscore.xcodeproj -scheme "Underscore tvOS" -destination "platform=tvOS Simulator,name=Apple TV 1080p" ONLY_ACTIVE_ARCH=NO ; fi

  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export PATH=$(pwd)/tests/$SWIFT_VERSION-ubuntu14.04/usr/bin:"${PATH}" ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then swift build ; fi
